header {
    padding: var(--padding);
    background-image: url('./pattern-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 280px;
    z-index: 0;
}

.title {
    margin-bottom: var(--margin);
    text-align: center;
    color: var(--white);
    font-weight: 500;
    font-size: x-large;
}

.ip_ui_container {
    margin: 0 auto;
    max-width: 900px;
}

.ip_data_container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    padding: var(--padding);
    margin-top: var(--margin);
    background: var(--white);
    border-radius: var(--radius);
    text-align: center;
}

@media screen and (min-width: 700px) {
    header {
        padding: var(--margin);
    }
    .ip_data_container {     
        flex-direction: row;
        justify-content: space-evenly;
    }

    .data_block {
        text-align: left;
        padding-left: var(--padding);
        border-left: 1px solid var(--light-gray);
        inline-size: 160px;
        overflow-wrap: break-word
    }

    .ip_data_container div:first-child {
        border-left: none;
        padding-left: 0;
    }

    .ip_data_container div:last-child {
        margin-right: 0;

    }
}

.data_name {
    margin-bottom: 7px;
    color: var(--light-gray);
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 2px;
}

.data_value {
    font-size: large;
    font-weight: 500;
}