@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.app {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik';
}

.attribution {
    flex: none;
}