* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --radius: 14px;
    --margin: 24px;
    --padding: 24px;
    --white: white;
    --light-gray: hsl(0, 0%, 59%);
    --dark-gray: hsl(0, 0%, 17%);
}
